.body {
    &.light {
        background-color: white;
    }

    .header {
        .title-container {
            .light {
                color: #171923;
            }

            .logo.light {
                fill: #171923;
            }
        }

        .subtitle.light {
            color: #171923;
        }
    }

    .main {
        .input-block {
            .input.light {
                border: 2px solid #171923;
            }

            .dots.light {
                color: #171923;
            }
        }
    }

    .result.light {
        color: #171923;
    }
}